@{
    ViewData["Title"] = "Email Confirmed";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="auth-right w-100">

    <div class="login-card text-center">

        <div class="success-icon">

            <i class="fa-solid fa-circle-check"></i>

        </div>

        <h2>Email Verified!</h2>

        <p class="mb-4">

            Your email has been successfully confirmed.

            You can now sign in and start using
            <strong>Clean Connect.</strong>

        </p>

        <a asp-action="Login"
           asp-controller="Auth"
           class="btn btn-success login-btn">

            Continue to Login

        </a>

    </div>

</div>