@{
    ViewData["Title"] = "Password Reset";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="auth-right w-100">

    <div class="login-card text-center">

        <div class="success-icon">

            <i class="fa-solid fa-circle-check"></i>

        </div>

        <h2>Password Updated</h2>

        <p>

            Your password has been changed successfully.

        </p>

        <a asp-action="Login"
           class="btn btn-success login-btn">

            Continue to Login

        </a>

    </div>

</div>